<ion-tabs>
  <!-- Definição da barra de abas na parte inferior -->
  <ion-tab-bar slot="bottom">
    
    <!-- Aba Home -->
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    
    <!-- Aba Catálogo -->
    <ion-tab-button tab="categories" href="/tabs/categories">
      <ion-icon aria-hidden="true" name="albums-outline"></ion-icon>
      <ion-label>Catálogo</ion-label>
    </ion-tab-button>
    
    <!-- Aba Lista -->
    <ion-tab-button tab="list" href="/tabs/list">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
      <ion-label>Lista</ion-label>
    </ion-tab-button>
    
    <!-- Aba Favoritos -->
    <ion-tab-button tab="favorites" href="/tabs/favorites">
      <ion-icon aria-hidden="true" name="heart"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>
    
    <!-- Aba Conta -->
    <ion-tab-button tab="account" href="/tabs/account">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Conta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
